<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 
        #META TAGS
     -->
    <meta
      name="description"
      content="Discover your ideal diet plan with MealMaster - the ultimate online search tool for healthy eating. Find personalized meal plans, recipes, and nutrition tips to help you achieve your goals."
    />
    <meta
      name="keywords"
      content="healthy eating, diet plan, meal planner, nutrition, recipes, weight loss, health tips, wellness, food choices, dietary needs"
    />
    <meta name="author" content="Your Name or Company Name" />
    <meta name="robots" content="index,follow" />
    <meta name="canonical" content="https://www.example.com/mealmaster" />

    <!-- OG (Open Graph) tags for social media sharing -->
    <meta
      property="og:title"
      content="MealMaster - Your Ultimate Guide to Finding the Perfect Diet Plan"
    />
    <meta
      property="og:description"
      content="Discover your ideal diet plan with MealMaster - the ultimate online search tool for healthy eating. Find personalized meal plans, recipes, and nutrition tips to help you achieve your goals."
    />
    <meta
      property="og:image"
      content="https://www.example.com/images/mealmaster.png"
    />
    <meta property="og:url" content="https://www.example.com/mealmaster" />
    <meta property="og:type" content="website" />


    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">

    <title>
      MealMaster - Your Ultimate Guide to Finding the Perfect Diet Plan
    </title>

    <!-- 
        #FAVICON IMAGE
     -->
    <link
      rel="shortcut icon"
      href="/image/favicon.png"
      type="image/x-icon"
    />
  
    <!-- 
        #GOOGLE FONTS LINK
     -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&family=Sofia&display=swap"
      rel="stylesheet"
    />
    <!-- fontawasome -->
    <script
      src="https://kit.fontawesome.com/27f3ffb9e9.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- 
        #HEADER
     -->
    <header class="container header">
      <a href="#">
        <h2 class="logo">Meal <span>Master</span></h2>
      </a>
      <nav class="navbar" data-navbar>
        <ul class="nav__list">
          <li>
            <a class="nav__link" href="/index.html">Home</a>
          </li>

          <li>
            <a class="nav__link" href="#">Diet Plans</a>
          </li>

          <li>
            <a class="nav__link" href="../about-us.html">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-container">
        <h1>No post yet!!! {{username}}</h1>
    </main>
    <script src="./public/js/script.js" defer></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script>
      window.onload = () => {
        const url = new URL(location);
        if (url.pathname.includes("index")) {
          document.querySelector('a[href*="index"]').classList.add("active");
        }
      };
    </script>
  </body>
</html>
