/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --primary-color: #d6e6d5;
  --secondary-color: #b9c7b9;
  --pink: #ed4c67;
  --pink-light: #ea6a7f;
  --orange: #ff725e;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #7f8fa6;
  --dark-blue: #1b1464;
  --dark-green: #606c60;
  --dark-green-tine-1: #727b72;
  --gray: #b9b9b9;
  --gray-dark: #6a6868;
  --gray-light: #f0eff4;
  --blue: #16b6eb;

  /* fonts */
  --form-h1: 4rem;

  /* transition */
  --transition: all 0.3s ease;

  --font-family-cursive: "Sofia", cursive;
  --font-family-body: "Raleway", sans-serif;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: var(--font-family-body);
}
body {
  font-size: 1.6rem;
  color: #333333;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
.main-container,
.container {
  max-width: 1900px;
  margin-inline: auto;
}
input,
select {
  font-size: inherit;
  padding: 1rem;
  background-color: var(--gray-light);
  color: inherit;
  border: 1px solid var(--gray);
}
hr {
  border-color: var(--gray-light);
}
input::placeholder {
  color: var(--gray);
}
.input--group {
  position: relative;
  display: flex;
}
.input--group input{
  flex-grow: 1;
}
.input--group .icon {
  position: absolute;
  right: 0;
  transform: translate(-8px, calc(50%));
  color: var(--gray);
  z-index: 1;
}
section h2 {
  font-size: 3.2rem;
}
.active {
  color: var(--pink);
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header,
.header nav ul {
  display: flex;
  align-items: center;
}
.header nav ul {
  gap: 3rem;
}
.header {
  padding: 1rem 2rem;
  margin: 0 auto;
  justify-content: space-between;
}
.btn {
  padding: 0.6rem 2rem;
  border: none;
  font-size: 1.6rem;
  white-space: nowrap;
}
.nav__link {
  white-space: nowrap;
}
/* feed */
.symptom {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--gray-light);
}
.feed {
  display: flex;
  gap: 2rem;
}
.feed .symptom :not(:first-child) {
  color: var(--gray-dark);
}
.feed .footer {
  display: flex;
  justify-content: space-between;
}
.icon#brain {
  color: var(--blue);
  font-size: 2.8rem;
}
