/*-----------------------------------*\
  #style.css
\*-----------------------------------*/




/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/


:root {
    --primary-color: #fef9e6;
    --secondary-color: #f1f2f6;
    --second-primary-color: #ED4C67;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #7f8fa6;
    --dark-blue: #1B1464;

    /* transition */
    --transition: all .3s ease;

    --font-family: 'Manrope', sans-serif;
}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
iframe,
button {
    display: block;
}

a {
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font-size: inherit;
}

input {
    width: 100%;
}

button {
    text-align: left;
    cursor: pointer;
}

html {
    font-family: var(--font-family);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
    color: var(--black-color);
    line-height: 1.5;
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.btn {
    padding: 10px 28px;
    text-align: center;
    border-radius: 30px;
    color: var(--white-color);
    font-size: 15px;
    font-family: var(--font-family);
    transition: var(--transition);
}
@media screen and (max-width: 980px){
    .btn{
        padding-inline: 14px;
    }
}

.primary {
    background-color: var(--dark-blue);
}

.primary:hover {
    background-color: #2014a3;
}

.secondary {
    background-color: var(--second-primary-color);
}

.secondary:hover {
    background-color: #ee3755;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.section__padding {
    padding: 60px 20px;
}



/*-----------------------------------*\
  #HEADER STYLE
\*-----------------------------------*/

.header {
    background-color: var(--secondary-color);
    padding: 25px 10px;
}


.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 26px;
    font-weight: 800;
    display: flex;
    align-items: center;
    letter-spacing: 1.4px;
    color: var(--black-color);
}

.logo span {
    padding-left: 5px;
    color: var(--second-primary-color);
}

.nav__toggle {
    width: 30px;
    display: grid;
    place-items: center;
}

.nav__toggle ion-icon {
    width: 100%;
    font-size: 4rem;
    cursor: pointer;
    color: var(--second-primary-color);
}

.nav__open-icon {
    display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
}

.overlay.active {
    z-index: 3;
    opacity: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav__top {
    display: none;
}


nav .nav__list {
    display: flex;
    gap: 40px;
    margin-right: 60px;
}

nav .nav__link {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-blue);
    position: relative;
    transition: var(--transition);
}

nav .nav__link::after {
    content: "";
    bottom: -5px;
    left: 0;
    transition: var(--transition);
    background-color: var(--second-primary-color);
    border-radius: 5px;
    width: 0;
    position: absolute;
    height: 3px;
}

nav .nav__btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .nav__link:hover {
    color: var(--second-primary-color);
}

nav .nav__link:hover::after {
    width: 55%;
}




/*-----------------------------------*\
  #HERO STYLE
\*-----------------------------------*/

.hero {
    background-color: var(--primary-color);
    padding: 80px 20px 30px 20px;
}

.hero__container {
    display: grid;
    position: relative;
    grid-template-columns: 430px 400px 350px;
}

.hero__container .left__hero-section {
    padding: 30px;
}

.hero__container .left__hero-section .hero__heading {
    font-size: 40px;
    font-weight: 500;
}

.hero__container .left__hero-section p {
    font-size: 16px;
    padding: 25px 0;
    line-height: 1.6;
    font-weight: 400;
}

.hero__container .left__hero-section .hero__icons {
    display: flex;
    align-items: center;
    gap: 20px;
}


.hero__container .left__hero-section .hero__icons ion-icon {
    font-size: 26px;
    cursor: pointer;
}

.hero__container .hero__img {
    width: 100%;
    height: auto;
}


.hero__container .right__hero-section {
    position: absolute;
    bottom: 20px;
    width: 450px;
    padding: 20px;
    right: 0;
}

.hero__container .right__hero-section h4 {
    font-size: 25px;
    font-weight: 600;
}

.hero__container .right__hero-section p {
    line-height: 1.6;
    font-size: 16px;
    padding: 20px 0;
    font-weight: 400;
}



/*-----------------------------------*\
  #ABOUT STYLE
\*-----------------------------------*/


.about .about__container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    place-content: center;
    padding-left: 60px;
}

.about .about__container .about__text {
    position: relative;
}

.about .about__container .about__img {
    width: 450px;
}

.about .about__container .about__text h2 {
    font-size: 40px;
    padding-top: 5px;
    font-weight: 500;
}

.about .about__container .about__text p {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    padding-right: 40px;
    line-height: 1.7;
}

.about .about__container .about__text img {
    width: 40%;
    position: absolute;
    right: 108px;
    padding: 10px 0;
}

.about .about__container .about__img img {
    width: 100%;
}



/*-----------------------------------*\
  #PRODUCT STYLE
\*-----------------------------------*/

.products {
    background-color: var(--secondary-color);
}

.product__container .product__heading {
    font-size: 45px;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 400;
    letter-spacing: 1.6px;
}

.product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product .product__card {
    width: 300px;
    border-radius: 5px;
    background-color: var(--white-color);
    padding: 10px;
}

.product .product__card .product__price {
    font-size: 20px;
    padding-left: 10px;
    color: var(--black-color);
}

.product .product__card .product__name {
    font-size: 19px;
    padding: 10px;
    color: var(--grey-color);
}

.product .product__card img {
    width: 100%;
    border-radius: 5px;
    height: 360px;
    object-fit: cover;
    object-position: center;
}



/*-----------------------------------*\
  #WORK STYLE
\*-----------------------------------*/

.work {
    background-color: var(--primary-color);
}

.work__container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-content: center;
}

.work__container .work__left {
    width: 450px;
}

.work__container .work__right h2 {
    font-size: 45px;
    font-weight: 500;
}

.work__container .work__right .work__divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work__container .work__right .work__div {
    padding: 30px;
    background-color: #d2d4db;
    border-radius: 10px;
    width: 300px;
    margin: 10px 10px 10px 0;
}

.work__container .work__right .work__div h2 {
    font-size: 25px;
}

.work__container .work__right .work__div h4 {
    font-size: 20px;
    padding: 10px 0;
}

.work__container .work__right .work__div p {
    font-size: 16px;
}

.work__container .work__left img {
    width: 100%;
}




/*-----------------------------------*\
  #QUESTION STYLE
\*-----------------------------------*/

.question {
    padding: 20px 50px;
    cursor: pointer;
    background-color: var(--secondary-color);
    margin: 20px 0;
    border-radius: 10px;
    transition: var(--transition);
}

.question:hover {
    background-color: var(--primary-color);
}

.questions .question__container h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

.questions .question__container p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

.question h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

.question p {
    padding-top: 15px;
    letter-spacing: 1px;
    padding-right: 20px;
    display: none;
    font-size: 15px;
    text-align: left !important;
    transition: var(--transition);
}

.question p.active {
    display: block;
}

.question ion-icon {
    color: var(--second-primary-color);
    cursor: pointer;
    font-size: 24px;
}



/*-----------------------------------*\
  #CHOICE STYLE
\*-----------------------------------*/

.choices .choice h2 {
    padding: 30px 0;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}






/*-----------------------------------*\
  #TESTIMONIAL STYLE
\*-----------------------------------*/

.testimonials {
    background-color: var(--primary-color);
}

.testimonial {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.testimonial__container h2 {
    text-align: center;
    font-size: 35px;
    padding: 25px 0;
    font-weight: 400;
}

.testimonials .testimonial_div {
    text-align: center;
    width: 400px;
    cursor: pointer;
    border-radius: 15px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    padding: 30px;
}

.testimonials .testimonial_div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    object-position: center;
}

.testimonials .testimonial_div h3 {
    font-size: 20px;
    padding: 15px 0;
}

.testimonials .testimonial_div p {
    font-size: 14px;
    padding-bottom: 15px;
    letter-spacing: 0.7px;
}

.testimonials .testimonial_div h4 {
    font-size: 15px;
    padding: 10px 0;
    transition: var(--transition);
    color: var(--grey-color);
}

.testimonials .testimonial_div h4:hover {
    text-decoration: underline;
}


/*-----------------------------------*\
  #CONTACT STYLE
\*-----------------------------------*/
.contacts .contact {
    display: grid;
    grid-template-columns: repeat(2, 650px);
    place-content: center;
}

.contacts .contact .left__contact {
    padding: 30px 40px;
}

.contacts .contact .right__contact img {
    margin: auto;
    width: 500px;
}

.contacts .contact .left__contact .input__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts .contact .left__contact p {
    width: 100%;
    margin: 15px 0;
}

.contacts .contact .left__contact input {
    width: 100%;
    height: 45px;
    border-radius: 26px;
    outline: 0;
    font-size: 14px;
    font-family: var(--font-family);
    padding: 5px 20px;
    border: 1px solid var(--grey-color);
}

.contacts .contact .left__contact textarea {
    width: 100%;
    height: 200px;
    border-radius: 26px;
    outline: 0;
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--font-family);
    padding: 15px 20px;
    border: 1px solid var(--grey-color);
}

.contacts .contact .left__contact input::placeholder {
    font-size: 14px;
    font-family: var(--font-family);
}

.contact .btn {
    margin-top: 30px;
    padding: 15px 40px;
}

.contact .left__contact h2 {
    font-size: 35px;
    font-weight: 400;
}

.footers {
    background-color: var(--black-color);
}

.footers .footer__top {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(5, 280px);
}

.footers .footer__container {
    padding: 20px;
    background-color: #0a0a0a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.footers .footer__container .footer__div img {
    width: 200px;
    filter: invert(1);
}


.footers .footer__container .footer__div h3 {
    color: white;
    font-size: 17px;
    margin: 20px 0;
}

.footers .footer__container .footer__div li {
    color: white;
    letter-spacing: 2.4px;
    font-size: 14px;
    transition: var(--transition);
    margin: 10px 0;
}

.footers .footer__container .footer__div li:hover {
    cursor: pointer;
    color: var(--grey-color);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}

.footer__bottom .footer_icon {
    padding: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: var(--grey-color);
    border-radius: 50px;
}

.footer__bottom .footer_icon:hover {
    background-color: #7191bb;
}

.footer__bottom .footer_icon ion-icon {
    font-size: 20px;
    color: white;
}



/*-----------------------------------*\
  #MEDIA QUERRY
\*-----------------------------------*/

@media (max-width: 1280px) {
    html {
        transition: var(--transition);
    }

    .hero__container {
        grid-template-columns: 35% 35% 35%;
    }

    .hero__container .right__hero-section {
        width: 30%;
        padding: 15px;
    }

    .product .product__card {
        width: 23%;
    }

    .product {
        justify-content: center;
    }

    .about .about__container {
        grid-template-columns: repeat(2, 50%);
    }

    .about .about__container .about__img {
        width: 85%;
    }

    .work__container {
        place-items: center;
    }

    .footers .footer__top {
        grid-template-columns: repeat(5, 30%);
    }
}

@media (max-width: 900px) {
    .logo {
        font-size: 30px;
    }

    nav .nav__list {
        gap: 15px;
        margin-right: 15px;
    }

    nav .nav__btns {
        gap: 9px;
    }

    .hero__container {
        grid-template-columns: 100%;
    }

    .hero__container .hero__img {
        width: 54%;
    }

    .hero__container .right__hero-section {
        width: 47%;
    }

    .about .about__container {
        grid-template-columns: 90%;
    }

    .about .about__container .about__img {
        width: 55%;
    }

    .about .about__container .about__text img {
        width: 42%;
        bottom: -132%;
        right: 0;
    }

    .product {
        justify-content: space-between;
    }

    .product .product__card {
        width: 31%;
    }

    .work__container {
        display: flex;
        flex-direction: column;
    }

    .work__container .work__left {
        width: 57%;
    }

    .work__container .work__right .work__divs {
        justify-content: center;
        gap: 4rem;
    }

    .work__container .work__right h2 {
        text-align: center;
        padding: 20px 0;
    }

    .testimonials .testimonial_div {
        width: 95%;
    }

    .testimonial {
        gap: 30px;
        justify-content: center;
    }

    .contacts .contact .left__contact {
        width: 100%;
    }

    .contacts .contact .right__contact img {
        width: 100%;
    }

    .contacts .contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footers .footer__top {
        grid-template-columns: repeat(3, 35%);
        gap: 30px;
    }

}

@media (max-width: 800px) {
    .hero__container .left__hero-section p {
        font-size: 22px;
    }

    .hero__container .left__hero-section .hero__heading {
        font-size: 45px;
        font-weight: 500;
    }

    .hero__container .right__hero-section p {
        font-size: 22px;
    }

    .about .about__container .about__text p {
        text-align-last: right;
        font-size: 21px;
    }

    .about .about__container .about__img {
        width: 55%;
    }

    .about .about__container .about__text img {
        bottom: -76%;
    }

    .product .product__card {
        width: 40%;
    }

    .product {
        justify-content: center;
        gap: 30px;
    }

    .header__container {
        padding: 0 20px;
    }

    .logo {
        font-size: 38px;
    }

    .nav__open-icon {
        display: block;
        width: 90px;
    }

    .nav__open-icon {
        display: block;
    }

    .nav__list {
        flex-direction: column;
        display: flex;
        gap: 25px;
        margin-top: 50px;
        text-align: left;
    }

    nav {
        position: absolute;
        display: block;
        width: 53%;
        left: -450px;
        height: 100%;
        top: 0;
        padding: 40px 15px;
        background-color: var(--primary-color);
        transition: var(--transition);
    }

    nav.active {
        z-index: 5;
        left: 0;
    }

    nav .nav__btns {
        display: flex;
        align-items: center;
        gap: 30px;
        position: absolute;
        bottom: 10px;
    }

    nav .nav__link:hover::after {
        width: 10%;
    }


    nav .nav__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        padding: 14px 35px;
        font-size: 17px;
    }

    .nav__toggle {
        width: 52px;
    }

    nav .nav__list {
        gap: 37px;
    }

    nav .nav__link {
        font-size: 22px;
        font-weight: 600;
    }

}


@media (max-width: 770px) {
    .contacts .contact {
        flex-direction: column-reverse;
    }

    .contacts .contact .right__contact img {
        width: 61%;
    }

    .contacts .contact .left__contact {
        width: 94%;
    }
}

@media (max-width: 465px) {
    .header__container {
        padding: 0 10px;
    }

    .logo {
        font-size: 32px;
    }

    .nav__toggle {
        width: 38px;
    }

    .nav__open-icon {
        display: block;
    }

    .nav__list {
        flex-direction: column;
        display: flex;
        gap: 25px;
        margin-top: 50px;
        text-align: left;
    }

    nav {
        position: absolute;
        display: block;
        width: 80%;
        left: -350px;
        height: 100%;
        top: 0;
        padding: 40px 15px;
        background-color: var(--primary-color);
        transition: var(--transition);
    }

    nav.active {
        left: 0;
    }

    nav .nav__btns {
        display: flex;
        align-items: center;
        gap: 30px;
        position: absolute;
        bottom: 10px;
    }

    nav .nav__link {
        font-size: 20px;
        font-weight: 600;
    }


    nav .nav__link:hover::after {
        width: 20%;
    }


    nav .nav__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        padding: 14px 35px;
        font-size: 17px;
    }

    .hero {
        padding: 0;
    }

    .hero__container .left__hero-section .hero__heading {
        font-size: 30px;
        font-weight: 500;
    }

    .hero__container .left__hero-section p {
        font-size: 20px;
    }

    .hero__container .hero__img {
        width: 80%;
        margin: auto;
    }

    .hero__container .right__hero-section {
        position: static;
        width: 100%;
        padding: 60px 22px;
    }

    .hero__container .right__hero-section p {
        font-size: 18px;
    }

    .about .about__container {
        display: block;
        padding-left: 0px;
    }

    .about .about__container .about__text h2 {
        font-size: 34px;
    }

    .about .about__container .about__text p {
        font-size: 17px;
        padding: 25px 5px;
        line-height: 1.7;
    }

    .about .about__container .about__img {
        width: 90%;
        margin: auto;
    }

    .about .about__container .about__text img {
        bottom: -70%;
        width: 31%;
        right: 4px;
    }

    .product .product__card {
        width: 80%;
    }

    .work__container .work__left {
        width: 75%;
    }

    .work__container .work__right .work__div p {
        font-size: 18px;
    }

    .question {
        padding: 20px 10px;
    }

    .contacts .contact .right__contact img {
        width: 75%;
    }

    .contacts .contact .left__contact {
        padding: 20px 10px;
        width: 100%;
    }

    .footers .footer__top {
        grid-template-columns: repeat(2, 54%);
        gap: 15px;
    }

    .footers .footer__container .footer__div img {
        width: 70%;
    }

    .footers .footer__top {
        padding: 30px 10px;
    }
}